<html>
    <head>
        <link rel="stylesheet" href="navbar.css">
    </head>
    <body>
        <center>
            <div class = "simpleNav">
                <a class = "link" href = "/">HOME</a>
                <a class = "link" href = "/animals">ANIMALS</a>
                <a class = "link" href = "/facts">POKEMON</a>
            </div>
            <h1>NOW THIS IS ANIMALS!!!</h1>
            <button onclick = "location.href = '\createRepeatedInfo'">CREATE HEDGEHOGS!</button>
            <button onclick = "location.href = '\deleteRepeatedInfo'">DELETE HEDGEHOGS!</button>
            <br/>
            <br/>
            <table>
                <tr>
                    <th>NAME</th>
                    <th>SCIENTIFIC NAME</th>
                    <th>FACTS</th>
                </tr>
                <% for(var i=0; i < ANIMALDATA.length; i++) { %>
                   <tr>
                     <td><%= ANIMALDATA[i].name %></td>
                     <td><%= ANIMALDATA[i].sciName %></td>
                     <td><%= ANIMALDATA[i].facts %></td>
                   </tr>
                <% } %>
            </table>
        </center>
    </body>
</html>